@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
:root {
    --primary-color: #2d84dbff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='4440' preserveAspectRatio='none' viewBox='0 0 1440 4440'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='4440' x='0' y='0' fill='rgba(234%2c 239%2c 244%2c 1)'%3e%3c/rect%3e%3cpath d='M393.98 4118.16C420.37 4117.48 444.09 4103.72 462.44 4084.74 480.44 4066.12 490.04 4042.07 492.43 4016.28 495.12 3987.3 496.12 3955.26 476.43 3933.83 456.25 3911.87 423.7 3906.66 393.98 3909.15 366.67 3911.44 342.37 3925.99 324.29 3946.59 307.42 3965.82 300.41 3990.7 299.98 4016.28 299.54 4042.38 304.21 4069.17 321.91 4088.35 340.24 4108.22 366.96 4118.85 393.98 4118.16' fill='rgba(253%2c 63%2c 63%2c 0.47)' stroke='none'%3e%3c/path%3e%3cpath d='M406.98 4108.16C433.37 4107.48 457.09 4093.72 475.44 4074.74 493.44 4056.12 503.04 4032.07 505.43 4006.28 508.12 3977.3 509.12 3945.26 489.43 3923.83 469.25 3901.87 436.7 3896.66 406.98 3899.15 379.67 3901.44 355.37 3915.99 337.29 3936.59 320.42 3955.82 313.41 3980.7 312.98 4006.28 312.54 4032.38 317.21 4059.17 334.91 4078.35 353.24 4098.22 379.96 4108.85 406.98 4108.16' fill='none' stroke-width='2' stroke='%23db0202'%3e%3c/path%3e%3cpath d='M1114.35 3296.4C1141.61 3298.32 1166.52 3282.57 1185.97 3263.37 1205.56 3244.03 1219.99 3219.28 1220.36 3191.75 1220.73 3163.89 1208.6 3136.85 1187.92 3118.18 1168.16 3100.34 1140.93 3094.63 1114.35 3096.03 1089.26 3097.35 1067.26 3109.26 1048.12 3125.52 1026.76 3143.67 1000.79 3163.73 1001.67 3191.75 1002.54 3219.5 1031.81 3235.06 1052.15 3253.95 1071.27 3271.71 1088.31 3294.57 1114.35 3296.4' fill='rgba(253%2c 63%2c 63%2c 0.47)' stroke='none'%3e%3c/path%3e%3cpath d='M1131.35 3291.4C1158.61 3293.32 1183.52 3277.57 1202.97 3258.37 1222.56 3239.03 1236.99 3214.28 1237.36 3186.75 1237.73 3158.89 1225.6 3131.85 1204.92 3113.18 1185.16 3095.34 1157.93 3089.63 1131.35 3091.03 1106.26 3092.35 1084.26 3104.26 1065.12 3120.52 1043.76 3138.67 1017.79 3158.73 1018.67 3186.75 1019.54 3214.5 1048.81 3230.06 1069.15 3248.95 1088.27 3266.71 1105.31 3289.57 1131.35 3291.4' fill='none' stroke-width='2' stroke='%23db0202'%3e%3c/path%3e%3cpath d='M477.5 1658.19C494.94 1658.2 508.54 1644.93 520.82 1632.55 533.04 1620.23 545.1 1606.56 545.93 1589.23 546.79 1571.24 537.93 1554.27 525.15 1541.58 512.42 1528.93 495.45 1521.49 477.5 1521.24 459.29 1520.98 441.28 1527.26 428.48 1540.21 415.74 1553.1 409.14 1571.15 410.27 1589.23 411.33 1606.34 422.27 1620.23 434.23 1632.5 446.4 1644.99 460.06 1658.18 477.5 1658.19' fill='rgba(253%2c 63%2c 63%2c 0.47)' stroke='none'%3e%3c/path%3e%3cpath d='M492.5 1668.19C509.94 1668.2 523.54 1654.93 535.82 1642.55 548.04 1630.23 560.1 1616.56 560.93 1599.23 561.79 1581.24 552.93 1564.27 540.15 1551.58 527.42 1538.93 510.45 1531.49 492.5 1531.24 474.29 1530.98 456.28 1537.26 443.48 1550.21 430.74 1563.1 424.14 1581.15 425.27 1599.23 426.33 1616.34 437.27 1630.23 449.23 1642.5 461.4 1654.99 475.06 1668.18 492.5 1668.19' fill='none' stroke-width='2' stroke='%23db0202'%3e%3c/path%3e%3cpath d='M885.63 2579.75C903.1 2579.36 920.75 2577.56 934.25 2566.47 949.1 2554.27 960.93 2537.07 960.96 2517.85 960.99 2498.61 948.88 2481.74 934.38 2469.1 920.9 2457.35 903.51 2451.75 885.63 2452.17 868.2 2452.58 851.07 2458.65 839.13 2471.35 827.52 2483.7 824.67 2500.92 823.92 2517.85 823.12 2535.85 822.07 2555.93 834.79 2568.69 847.52 2581.46 867.6 2580.15 885.63 2579.75' fill='rgba(132%2c 180%2c 231%2c 1)' stroke='none'%3e%3c/path%3e%3cpath d='M866.63 2569.75C884.1 2569.36 901.75 2567.56 915.25 2556.47 930.1 2544.27 941.93 2527.07 941.96 2507.85 941.99 2488.61 929.88 2471.74 915.38 2459.1 901.9 2447.35 884.51 2441.75 866.63 2442.17 849.2 2442.58 832.07 2448.65 820.13 2461.35 808.52 2473.7 805.67 2490.92 804.92 2507.85 804.12 2525.85 803.07 2545.93 815.79 2558.69 828.52 2571.46 848.6 2570.15 866.63 2569.75' fill='none' stroke-width='2' stroke='%23297cd5'%3e%3c/path%3e%3cpath d='M461.93 159.2C476.75 158.63 491.55 154.02 501.58 143.09 511.25 132.55 513.07 117.75 513.08 103.44 513.09 89.12 511.59 74.03 501.62 63.75 491.54 53.36 476.41 50.66 461.93 50.72 447.53 50.78 432.51 53.66 422.58 64.09 412.82 74.33 412.3 89.3 411.7 103.44 411.06 118.49 409.03 135.07 419.11 146.26 429.48 157.78 446.44 159.8 461.93 159.2' fill='rgba(211%2c 241%2c 109%2c 1)' stroke='none'%3e%3c/path%3e%3cpath d='M472.93 143.2C487.75 142.63 502.55 138.02 512.58 127.09 522.25 116.55 524.07 101.75 524.08 87.44 524.09 73.12 522.59 58.03 512.62 47.75 502.54 37.36 487.41 34.66 472.93 34.72 458.53 34.78 443.51 37.66 433.58 48.09 423.82 58.33 423.3 73.3 422.7 87.44 422.06 102.49 420.03 119.07 430.11 130.26 440.48 141.78 457.44 143.8 472.93 143.2' fill='none' stroke-width='2' stroke='%23b2e015'%3e%3c/path%3e%3cpath d='M270.67 398.42C282.98 398.27 293.56 390.66 302.05 381.74 310.3 373.08 316.94 362.31 316.43 350.36 315.94 338.78 307.66 329.76 299.5 321.53 291.29 313.25 282.32 304.61 270.67 304.19 258.72 303.75 247.29 310.14 239.66 319.35 232.62 327.84 232.62 339.33 232.42 350.36 232.21 361.71 231.43 373.65 238.5 382.53 246.24 392.26 258.24 398.58 270.67 398.42' fill='rgba(132%2c 180%2c 231%2c 1)' stroke='none'%3e%3c/path%3e%3cpath d='M252.67 407.42C264.98 407.27 275.56 399.66 284.05 390.74 292.3 382.08 298.94 371.31 298.43 359.36 297.94 347.78 289.66 338.76 281.5 330.53 273.29 322.25 264.32 313.61 252.67 313.19 240.72 312.75 229.29 319.14 221.66 328.35 214.62 336.84 214.62 348.33 214.42 359.36 214.21 370.71 213.43 382.65 220.5 391.53 228.24 401.26 240.24 407.58 252.67 407.42' fill='none' stroke-width='2' stroke='%23297cd5'%3e%3c/path%3e%3cpath d='M722.73 2336.72C735.77 2337.47 749.18 2334.22 758.62 2325.19 768.24 2315.99 772.35 2302.61 772.31 2289.3 772.27 2276.03 768.3 2262.46 758.42 2253.61 748.94 2245.12 735.46 2245.19 722.73 2244.89 709.53 2244.57 695.31 2243.27 685.29 2251.86 674.74 2260.91 669.84 2275.44 670.92 2289.3 671.94 2302.3 681.11 2312.5 690.73 2321.3 699.81 2329.61 710.44 2336.02 722.73 2336.72' fill='rgba(84%2c 192%2c 118%2c 0.49)' stroke='none'%3e%3c/path%3e%3cpath d='M711.73 2319.72C724.77 2320.47 738.18 2317.22 747.62 2308.19 757.24 2298.99 761.35 2285.61 761.31 2272.3 761.27 2259.03 757.3 2245.46 747.42 2236.61 737.94 2228.12 724.46 2228.19 711.73 2227.89 698.53 2227.57 684.31 2226.27 674.29 2234.86 663.74 2243.91 658.84 2258.44 659.92 2272.3 660.94 2285.3 670.11 2295.5 679.73 2304.3 688.81 2312.61 699.44 2319.02 711.73 2319.72' fill='none' stroke-width='2' stroke='%23348d50'%3e%3c/path%3e%3cpath d='M80.5 3798.16C99.16 3798.95 120.25 3799.69 133.02 3786.05 145.6 3772.61 142.8 3751.85 141.02 3733.53 139.46 3717.48 134.5 3702.31 123.7 3690.33 112.24 3677.63 97.61 3666.48 80.5 3666.44 63.37 3666.4 49.4 3678.21 37.12 3690.15 24.6 3702.32 12.4 3716.09 11.47 3733.53 10.5 3751.7 18.96 3769.34 32.25 3781.78 45.14 3793.85 62.86 3797.41 80.5 3798.16' fill='rgba(84%2c 192%2c 118%2c 0.49)' stroke='none'%3e%3c/path%3e%3cpath d='M65.5 3809.16C84.16 3809.95 105.25 3810.69 118.02 3797.05 130.6 3783.61 127.8 3762.85 126.02 3744.53 124.46 3728.48 119.5 3713.31 108.7 3701.33 97.24 3688.63 82.61 3677.48 65.5 3677.44 48.37 3677.4 34.4 3689.21 22.12 3701.15 9.6 3713.32-2.6 3727.09-3.53 3744.53-4.5 3762.7 3.96 3780.34 17.25 3792.78 30.14 3804.85 47.86 3808.41 65.5 3809.16' fill='none' stroke-width='2' stroke='%23348d50'%3e%3c/path%3e%3cpath d='M941.01 48.61C950.99 49.26 961.42 46.37 968.25 39.07 974.92 31.94 975.88 21.58 975.42 11.83 974.99 2.63 972.23-6.37 965.8-12.96 959.28-19.64 950.33-23.79 941.01-23.44 931.99-23.1 924.55-17.4 918.03-11.15 911.32-4.72 904.38 2.54 904.2 11.83 904.02 21.24 910.46 29.07 917.12 35.72 923.78 42.37 931.62 47.99 941.01 48.61' fill='rgba(84%2c 192%2c 118%2c 0.49)' stroke='none'%3e%3c/path%3e%3cpath d='M923.01 31.61C932.99 32.26 943.42 29.37 950.25 22.07 956.92 14.94 957.88 4.58 957.42-5.17 956.99-14.37 954.23-23.37 947.8-29.96 941.28-36.64 932.33-40.79 923.01-40.44 913.99-40.1 906.55-34.4 900.03-28.15 893.32-21.72 886.38-14.46 886.2-5.17 886.02 4.24 892.46 12.07 899.12 18.72 905.78 25.37 913.62 30.99 923.01 31.61' fill='none' stroke-width='2' stroke='%23348d50'%3e%3c/path%3e%3cpath d='M327.11 2744.32C343.1 2745.38 358.8 2737.89 369.58 2726.04 379.92 2714.67 382.45 2698.94 382.34 2683.57 382.23 2668.34 379.44 2652.77 368.97 2641.71 358.26 2630.38 342.65 2624 327.11 2625.19 312.47 2626.31 301.1 2636.82 291.2 2647.66 281.87 2657.87 274.01 2669.74 273.76 2683.57 273.51 2697.62 280.64 2710.21 289.91 2720.77 299.98 2732.24 311.88 2743.31 327.11 2744.32' fill='rgba(211%2c 241%2c 109%2c 1)' stroke='none'%3e%3c/path%3e%3cpath d='M318.11 2737.32C334.1 2738.38 349.8 2730.89 360.58 2719.04 370.92 2707.67 373.45 2691.94 373.34 2676.57 373.23 2661.34 370.44 2645.77 359.97 2634.71 349.26 2623.38 333.65 2617 318.11 2618.19 303.47 2619.31 292.1 2629.82 282.2 2640.66 272.87 2650.87 265.01 2662.74 264.76 2676.57 264.51 2690.62 271.64 2703.21 280.91 2713.77 290.98 2725.24 302.88 2736.31 318.11 2737.32' fill='none' stroke-width='2' stroke='%23b2e015'%3e%3c/path%3e%3cpath d='M416.28 811.52C437.64 811.03 456.4 799.23 471.52 784.13 486.64 769.02 500.29 750.23 498.99 728.89 497.73 708.33 480.04 694.26 465.16 680.01 450.76 666.23 436.21 649.82 416.28 649.71 396.29 649.6 380.16 664.55 366.87 679.48 354.5 693.38 347.26 710.34 345.81 728.89 344.21 749.34 345.15 771.1 358.46 786.71 372.61 803.3 394.49 812.02 416.28 811.52' fill='rgba(84%2c 192%2c 118%2c 0.49)' stroke='none'%3e%3c/path%3e%3cpath d='M421.28 826.52C442.64 826.03 461.4 814.23 476.52 799.13 491.64 784.02 505.29 765.23 503.99 743.89 502.73 723.33 485.04 709.26 470.16 695.01 455.76 681.23 441.21 664.82 421.28 664.71 401.29 664.6 385.16 679.55 371.87 694.48 359.5 708.38 352.26 725.34 350.81 743.89 349.21 764.34 350.15 786.1 363.46 801.71 377.61 818.3 399.49 827.02 421.28 826.52' fill='none' stroke-width='2' stroke='%23348d50'%3e%3c/path%3e%3cpath d='M1221.86 3950.8C1235.56 3951.21 1246.53 3941.18 1256.61 3931.88 1267.29 3922.03 1278.92 3911.62 1280.05 3897.13 1281.25 3881.84 1273.21 3867.47 1262.51 3856.48 1251.65 3845.32 1237.43 3837.27 1221.86 3837.33 1206.34 3837.39 1191.29 3844.73 1181.52 3856.79 1172.55 3867.87 1171.97 3882.96 1173.45 3897.13 1174.75 3909.63 1180.73 3920.51 1189.15 3929.84 1198.17 3939.83 1208.41 3950.39 1221.86 3950.8' fill='rgba(253%2c 63%2c 63%2c 0.47)' stroke='none'%3e%3c/path%3e%3cpath d='M1216.86 3964.8C1230.56 3965.21 1241.53 3955.18 1251.61 3945.88 1262.29 3936.03 1273.92 3925.62 1275.05 3911.13 1276.25 3895.84 1268.21 3881.47 1257.51 3870.48 1246.65 3859.32 1232.43 3851.27 1216.86 3851.33 1201.34 3851.39 1186.29 3858.73 1176.52 3870.79 1167.55 3881.87 1166.97 3896.96 1168.45 3911.13 1169.75 3923.63 1175.73 3934.51 1184.15 3943.84 1193.17 3953.83 1203.41 3964.39 1216.86 3964.8' fill='none' stroke-width='2' stroke='%23db0202'%3e%3c/path%3e%3cpath d='M985.07 1576.75C996.59 1577.01 1006.25 1568.57 1013.64 1559.73 1020.33 1551.73 1023.67 1541.58 1023.15 1531.16 1022.65 1521.26 1017.43 1512.78 1010.92 1505.31 1003.77 1497.1 995.93 1488.23 985.07 1487.44 973.69 1486.62 962.4 1492.43 955.19 1501.28 948.53 1509.45 948.98 1520.63 949.45 1531.16 949.89 1541.05 951.65 1550.68 957.75 1558.48 964.76 1567.45 973.68 1576.5 985.07 1576.75' fill='rgba(132%2c 180%2c 231%2c 1)' stroke='none'%3e%3c/path%3e%3cpath d='M990.07 1561.75C1001.59 1562.01 1011.25 1553.57 1018.64 1544.73 1025.33 1536.73 1028.67 1526.58 1028.15 1516.16 1027.65 1506.26 1022.43 1497.78 1015.92 1490.31 1008.77 1482.1 1000.93 1473.23 990.07 1472.44 978.69 1471.62 967.4 1477.43 960.19 1486.28 953.53 1494.45 953.98 1505.63 954.45 1516.16 954.89 1526.05 956.65 1535.68 962.75 1543.48 969.76 1552.45 978.68 1561.5 990.07 1561.75' fill='none' stroke-width='2' stroke='%23297cd5'%3e%3c/path%3e%3cpath d='M820.55 1469.99C846.14 1470.79 871.35 1461.32 889.38 1443.14 907.34 1425.03 915.48 1399.81 915.44 1374.31 915.4 1348.84 907.08 1323.8 889.2 1305.66 871.2 1287.4 846.18 1277.33 820.55 1278.02 795.55 1278.69 771.72 1290.22 755.49 1309.25 740.37 1326.98 738.4 1351.01 738.47 1374.31 738.54 1397.52 740.76 1421.37 755.87 1438.99 772.05 1457.85 795.71 1469.22 820.55 1469.99' fill='rgba(211%2c 241%2c 109%2c 1)' stroke='none'%3e%3c/path%3e%3cpath d='M831.55 1485.99C857.14 1486.79 882.35 1477.32 900.38 1459.14 918.34 1441.03 926.48 1415.81 926.44 1390.31 926.4 1364.84 918.08 1339.8 900.2 1321.66 882.2 1303.4 857.18 1293.33 831.55 1294.02 806.55 1294.69 782.72 1306.22 766.49 1325.25 751.37 1342.98 749.4 1367.01 749.47 1390.31 749.54 1413.52 751.76 1437.37 766.87 1454.99 783.05 1473.85 806.71 1485.22 831.55 1485.99' fill='none' stroke-width='2' stroke='%23b2e015'%3e%3c/path%3e%3cpath d='M644.12 4424.79C663.29 4426.83 684 4420.65 696.45 4405.93 708.29 4391.93 706.46 4371.81 704.32 4353.6 702.48 4337.97 695.59 4324.31 685.43 4312.29 674.02 4298.78 661.75 4283.63 644.12 4282.34 625.71 4280.99 607.94 4291.45 596.27 4305.75 585.55 4318.89 584.91 4336.67 585.96 4353.6 586.93 4369.21 591.97 4383.74 601.87 4395.85 613.1 4409.6 626.47 4422.91 644.12 4424.79' fill='rgba(84%2c 192%2c 118%2c 0.49)' stroke='none'%3e%3c/path%3e%3cpath d='M635.12 4410.79C654.29 4412.83 675 4406.65 687.45 4391.93 699.29 4377.93 697.46 4357.81 695.32 4339.6 693.48 4323.97 686.59 4310.31 676.43 4298.29 665.02 4284.78 652.75 4269.63 635.12 4268.34 616.71 4266.99 598.94 4277.45 587.27 4291.75 576.55 4304.89 575.91 4322.67 576.96 4339.6 577.93 4355.21 582.97 4369.74 592.87 4381.85 604.1 4395.6 617.47 4408.91 635.12 4410.79' fill='none' stroke-width='2' stroke='%23348d50'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1001'%3e%3crect width='1440' height='4440' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

.jello-horizontal {
    -webkit-animation: jello-horizontal 1s ease-in-out 1s both;
    animation: jello-horizontal 1s ease-in-out 1s both;
}


/* ----------------------------------------------
 * Generated by Animista on 2025-10-21 18:34:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bg-color {
    background-color: #2d84dbff;
}

nav,
footer {
    padding: 1rem;
    color: #fff;
}

ul {
    list-style-type: none;
}

h1 {
    text-align: center;
}

.question {
    padding: 2rem 0rem;
    color: #343a40;
}

.question_options {
    margin: 0 0 2rem 2rem;
}

.question_options input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.question_options .radio-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin: 6px 0;
    position: relative;
    padding-left: 28px;
}

.question_options .radio-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 2px solid #555;
    border-radius: 50%;
    background: #fff;
    transition: all 0.3s ease;
}

.question_options input[type="radio"]:checked+.radio-label::before {
    border-color: var(--primary-color);
    background: var(--primary-color);
    box-shadow: inset 0 0 0 4px #fff;
}

.question_options .radio-label:hover::before {
    border-color: var(--primary-color);
}

.btn {
    /* border-color: var(--primary-color); */
    /* border-width: 0.2rem; */
    background-color: var(--primary-color);
    margin: auto;
    display: block;
    width: 20%;
    padding: 0.5rem;
    border-radius: 30px;
    color: #fff;
    transition: 0.7s;
}

.btn:hover {
    /* border-color: var(--primary-color); */
    /* color: #fff; */
    /* background-color: var(--primary-color); */
    box-shadow: 2px 2px 12px #00000092;
    transition: 0.7s;
    color: #fff;
}


/* sumbit page */

.circle {
    padding: 20px;
    border: 12px solid;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    padding-top: 2rem;
}

.result h1 {
    font-size: 6rem;
}

.result ul {
    margin-top: 2rem;
    text-align: start;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.result.container-fluid {
    text-align: center;
    padding-bottom: 2rem;
}

.comment {
    font-size: 2rem;
    font-weight: 600;
}

.score {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem 0 0.6rem 0;
    padding-top: 2rem;
    position: relative;
    width: 100%;
    bottom: 0px;
}

.footer_text {
    font-size: 1.2rem;
}

.author {
    font-size: 2rem;
}

@media only screen and (max-width: 520px) {
    h1 {
        font-size: 2rem;
    }
    .result h1 {
        font-size: 4.2rem;
    }
    .circle {
        border: 8px solid;
        width: 120px;
        height: 120px;
    }
    .footer_text {
        font-size: 1rem;
    }
    .author {
        font-size: 1.5rem;
    }
}